# Primary
fastapi[standard]
sqlmodel
sqlalchemy[asyncio]
asyncpg
icecream
python-decouple
arrow
orjson
firebase-admin
pyrebase4
python-json-logger
slowapi
python-slugify

# Redis
redis-om[async]
hiredis

# Production only
gunicorn

# Development only
alembic
Faker
pytest
pytest-sugar
pytest-asyncio
# pytest-cov
# pytest-ordering
# factory-boy
# freezegun
jupyterlab
pandas
numpy

# Project
python-binance
pandas
numpy
# supervisor

# Documentation
# mkdocs
# mkdocs-material[imaging]
# mkdocstrings
# mkdocstrings-python
# markdown-include
# pymdown-extensions
